<template name="hometweet">
  <div class="col-md-6 col-sm-6 portfolio-item">
      <a href="#" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
              </div>
          </div>
          <img src="img/stories/01-preview.jpg" class="img-responsive" alt="">
      </a>
      <div class="portfolio-caption">
          <h4>Juan Doe</h4>
          <p class="text-muted">City, State</p>
      </div>
  </div>
</template>
