<template name="hometweet">
  <div class="col-md-6 col-sm-6 portfolio-item" style="min-heigth: 150px!important;overflow:hidden;">
      <a href="#{{ _id }}" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
              </div>
          </div>
          <div style="width:100%;height:250px;background: url({{ imageUrl }});background-size:cover;background-position: center;background-repeat: no-repeat;"></div>
          <!-- <img src="{{ imageUrl }}" class="" alt="{{statusText}}" style="width: 100%!important;"> -->
      </a>
      <div class="portfolio-caption">
          <h4>@{{ screenName }}</h4>

      </div>
  </div>


  <div style="z-index: 40000;" class="portfolio-modal modal fade" id="{{ _id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>@{{ screenName }}</h2>
                          <p class="item-intro text-muted">{{statusText}}</p>

                          <img src="{{ imageUrl }}" height="200" class="img-responsive img-centered" alt="{{statusText}}">

                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</template>
