<template name="admin">
  <header>
      <div class="container">
          <div class="intro-text">
            <h1>Dashboard</h1>
          </div>
      </div>
  </header>

  <section id="dashboard">
    <div class="container">
      <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium mollitia quae perferendis modi, odio ipsam aliquid fugit distinctio amet, enim, maxime. Itaque laborum culpa voluptatibus, labore recusandae tempore distinctio mollitia!</p>
      </div>
    </div>
  </section>


</template>
