<template name="foundbill">
  <header>
      <div class="container">
          <div class="intro-text">
            <h1>Found Bill</h1>
          </div>
      </div>
  </header>

  <section id="found-bill">
    <div class="container">
      <div class="row text-center">
        <img class="img-responsive bill-example" src="img/dollar-example.jpg" alt="">
      </div>


      {{{ alertbox }}}
      <form>
        <div class="form-group">
          <label for="serialnumber">Serial Number</label>
          <input name="serialnumber" type="text" class="form-control" id="serialnumber" placeholder="Serial #">
        </div>
        <div class="form-group">
          <label for="zip">Zip Code</label>
          <input name="zip" type="text" class="form-control" id="zip" placeholder="Zip">
        </div>


        <div class="checkbox">
          <label>
            <input name="have" type="checkbox"> Do you have the bill now?
          </label>
        </div>
        <div class="form-group">
          <label for="note">How did you get this bill?</label>
          <textarea class="form-control" name="note" placeholder="Got this at..." rows="3"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </section>
</template>
