<template name="home">
  <!-- Header -->
  <header>
      <div class="container">
          <div class="intro-text">
              <div class="intro-video embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ftGCb8tpT-8" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- <div class="intro-lead-in">Welcome To Our Studio!</div>
              <div class="intro-heading">It's Nice To Meet You</div> -->
              <a href="#services" class="tell-more page-scroll btn btn-xl">The Campaign</a>
          </div>
      </div>
  </header>

  <!-- Services Section -->
  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">The Campaign</h2>
                  <h3 class="section-subheading text-muted">Here's how it works...</h3>
              </div>
          </div>
          <div class="row text-center">

              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">The Economy Needs Us</h4>
                  <p class="text-muted">The U.S. economy depends on the money that goes through undocumented immigrants. We work hard. We buy things. We sell things through the small businesses we operate.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-pie-chart  fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">How Much Money?</h4>
                  <p class="text-muted">To prove the inextricable value and nature of undocumented immigrants, we created #UndocuMoney to highlight just how much we are a part of this economy.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">#UndocuMoney</h4>
                  <p class="text-muted">Every dollar bill that a participating undocumented person handles will have the hashtag #Undocumoney written on it and be posted to social media.</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Portfolio Grid Section -->
  <section id="portfolio" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Stories</h2>
                  <h3 class="section-subheading text-muted">Here are just some examples.</h3>
              </div>
          </div>
          <div class="row">

            {{#each latesttweets}}
              {{>hometweet}}
            {{/each}}


              <!-- <div class="col-md-6 col-sm-6 portfolio-item">
                  <a href="#" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/stories/01-preview.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>@IsraelTv5</h4>
                      <p class="text-muted">RT @Redwine_13: I challenge @jorgeramosnews @EvaLongoria @AmericaFerrera @jessicaalba @fluffyguy to take the #Undocumoney Challenge! http:/…</p>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 portfolio-item">
                  <a href="#" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/stories/02-preview.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>@IsraelTv5</h4>

                  </div>
              </div>
              <div class="col-md-6 col-sm-6 portfolio-item">
                  <a href="#" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/stories/03-preview.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Juan Doe</h4>
                      <p class="text-muted">City, State</p>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 portfolio-item">
                  <a href="#" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/stories/04-preview.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Maria Doe</h4>
                      <p class="text-muted">City, State</p>
                  </div>
              </div> -->

          </div>
      </div>
  </section>



  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">The Team</h2>
                  <h3 class="section-subheading text-muted">Meet the team behind the hashtag.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                      <h4>Marisol Soto<span class="role">Creator</span></h4>
                      <p class="text-muted">The idea of Undocumoney was the idea of Marisol's. She hopes that through this campaign we can educate and show people the real contributions undocumented immigrants like her and her family make to the economy.  We help make this country a better place.</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://twitter.com/LooMaree" target="_blank"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="https://www.facebook.com/marysol.soto.7" target="_blank"><i class="fa fa-facebook"></i></a>
                          </li>

                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                      <h4>Andrew Johnson<span class="role">Videographer, Photographer/Editor</span></h4>
                      <p class="text-muted">As an allie for the DREAM movement, Andrew showcases his talents through his video art and hopes that one day we can mend our broken immigration system.</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="http://www.venturestudiosnwa.com/" target="_blank"><i class="fa fa-code"></i></a>
                          </li>
                          <li><a href="https://www.facebook.com/andrew.johnson.7921975" target="_blank"><i class="fa fa-facebook"></i></a>
                          </li>

                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Irvin Camacho<span class="role">Script Writer/Creative Director.</span></h4>
                      <p class="text-muted">Irvin believes no human being is illegal and undocumented students and hard working parents deserve a chance to pursue the American Dream</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://twitter.com/IrvinnnCamacho" target="_blank"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="https://www.facebook.com/irvincamacho" target="_blank"><i class="fa fa-facebook"></i></a>
                          </li>

                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                      <h4>Celso Mireles<span class="role">Web Developer</span></h4>
                      <p class="text-muted">Undocumented and Unafraid, he wants to create technology for social justice. He makes websites and helps people movements build the right digital tools for the job.</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://twitter.com/CelsoM3" target="_blank"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="http://digitalstrategy.tips" target="_blank"><i class="fa fa-code"></i></a>
                          </li>

                      </ul>
                  </div>
              </div>
          </div>
          <!-- <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
              </div>
          </div> -->
      </div>
  </section>



  <!-- Contact Section -->
  <section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Participate</h2>
                  <h3 class="section-subheading text-muted">It is realy easy to participate!</h3>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/stories/05-preview.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Label the Bills</h4>

                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/stories/06-preview.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Share On Social Media</h4>

                </div>
            </div>

            <!-- <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="{{ pathFor 'foundbill'}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="http://placehold.it/600x400" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>I found #UndocuMoney!</h4>

                </div>
            </div>

            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="{{ pathFor 'newbill'}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="http://placehold.it/600x400" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Register my #UndocuMoney!</h4>

                </div>
            </div> -->
          </div>

          <div class="row text-center social-button-group">
            <div class="btn-group" role="group" aria-label="...">
              <a href="https://twitter.com/search?src=typd&q=%23undocumoney" target="_blank" type="button" class="btn btn-primary btn-md">Twitter</a>
              <a href="https://www.facebook.com/search/str/%23undocumoney/keywords_top" target="_blank" type="button" class="btn btn-primary btn-md">Facebook</a>
              <a href="https://instagram.com/explore/tags/undocumoney/" target="_blank" type="button" class="btn btn-primary btn-md">Instagram</a>
            </div>
          </div>


      </div>
  </section>

  {{> admin }}



  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>First, Last</h2>
                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                          <img class="img-responsive img-centered" src="http://placehold.it/400x200/9d0000/ffffff" alt="">
                          <p></p>

                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Heading</h2>
                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                          <img class="img-responsive img-centered" src="http://placehold.it/400x200/9d0000/ffffff" alt="">
                          <p></p>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>Project Name</h2>
                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                          <img class="img-responsive img-centered" src="http://placehold.it/400x200/9d0000/ffffff" alt="">
                          <p></p>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>Project Name</h2>
                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                          <img class="img-responsive img-centered" src="http://placehold.it/400x200/9d0000/ffffff" alt="">
                          <p></p>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>Label the Bills</h2>
                          <p class="item-intro text-muted">Preferrably with Red Pen</p>
                          <!-- <img class="img-responsive img-centered" src="http://placehold.it/400x200/9d0000/ffffff" alt=""> -->
                          <p>It doesn't have to be that big. Write it so that the bill is still usable.</p>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>Share on Social Media</h2>
                          <p class="item-intro text-muted">Use the hashtag #UndocuMoney</p>
                          <!-- <img class="img-responsive img-centered" src="http://placehold.it/400x200/9d0000/ffffff" alt=""> -->
                          <p>You can share on Facebook, Twitter or Instagram. Share it at the hashtag #UndocuMoney. We will be looking at the hashtag to reshare as much as we can!</p>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</template>
