<template name="profileLayout">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="{{ pathFor 'home'}}">#UndocuMoney</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <!-- <li>
                      <a class="page-scroll" href="{{ pathFor 'foundbill'}}">Record Found Bill</a>
                  </li>-->
                  <li>
                      <a href="{{ pathFor 'profile'}}">Profile</a>
                  </li>
                  <li>
                      <a id="logout" class="page-scroll" href="#">Logout</a>
                  </li>


              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  {{>yield}}

  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">Copyright &copy; UndocuMoney.com 2015</span>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                      <li><a href="https://twitter.com/undocumoney"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li><a href="https://www.facebook.com/undocumoney"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="https://instagram.com/undocumoney/"><i class="fa fa-instagram"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li><a href="http://digitalstrategy.tips" target="_blank">Coded with Love.</a>
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </footer>
</template>
